---
import { personalData } from "../../data/personalData";

const { imageAlt, formalImage } = personalData;
---

<div class="relative flex justify-center items-center">
    <div
        class="absolute w-80 h-80 bg-zinc-700/15 bg-opacity-10 rounded-full flex items-center justify-center animate-pulse"
    >
    </div>
    <div class="w-64 h-64 rounded-full flex items-center justify-center">
        <img
            src={formalImage}
            alt={imageAlt}
            class="rounded-full object-cover w-full h-full"
        />
    </div>
</div>
