---
import { personalData } from "../../data/personalData";

const { imageAlt, formalImage } = personalData;
---

<div class="relative flex justify-center items-center">
    <div
        class="absolute w-85 h-85 -z-2 bg-sky-500/50 bg-opacity-10 rounded-full flex items-center justify-center animate-pulse"
    >
    </div>
    <div class="w-75 h-75 rounded-full flex items-center justify-center">
        <img
            src={formalImage}
            alt={imageAlt}
            class="rounded-full object-cover w-full h-full"
        />
    </div>
</div>
