---
import { skillsData } from "../../data/skillsData";
import SkillsCard from "./SkillsCard.astro";
---

<section id="skills" class="flex items-center py-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="section-fade">
            <h2 class="text-4xl font-bold text-center text-sky-500 mb-16">
                {skillsData.title}
            </h2>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                {
                    skillsData.categories.map((category) => (
                        <SkillsCard {...category} />
                    ))
                }
            </div>
        </div>
    </div>
</section>
