---
import { navData } from "../../data/navData";
const navItems = navData.filter(({ showInNav }) => showInNav);
---

<div id="mobile-menu" class="lg:hidden hidden bg-custom-dark">
    <div class="px-2 pt-2 pb-3 space-y-1">
        {
            navItems.map(({ path, label }) => (
                <a
                    href={path}
                    class="block px-3 py-2 text-gray-400 hover:text-blue-100"
                >
                    {label}
                </a>
            ))
        }
    </div>
</div>
