---
interface Props {
    title: string;
    partners: string[];
}

const { title, partners } = Astro.props;
---

<div class="text-center">
    <h2 class="text-sky-500 text-4xl font-bold mb-4">{title}</h2>
    <div class="flex justify-center items-center space-x-8">
        {
            partners.map((partner, idx) => (
                <>
                    {idx > 0 && <div class="text-2xl">×</div>}
                    <div class="bg-custom-dark p-4 rounded-lg">
                        <span class="text-amber-300 font-bold text-lg">
                            {partner}
                        </span>
                    </div>
                </>
            ))
        }
    </div>
</div>
