---
const { quote } = Astro.props;
---

<div class="text-center">
    <blockquote
        class="text-xl italic text-gray-200 border-l-4 border-amber-300 pl-6"
    >
        "{quote}"
    </blockquote>
</div>
